{% extends 'base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}Admin
    {% if thor.options.PROJECT_NAME is defined and thor.options.PROJECT_NAME.value %}
        {{thor.options.PROJECT_NAME.value}}
    {% else %}
        Thor
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/octopouceadmin/vendor/colorpicker/css/bootstrap-colorpicker.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/octopouceadmin/build/css/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}


{% block body %}
    {% block sidebar_left %}
        <header class="sidebar sidebar-left">
            <div class="hide-bar hide-bar-left">
                <div class="h1 center-align title-menu">Menu</div>
                <div class="input-field search">
                    <input type="text" placeholder="{{ 'header.sidebar.left.search'|trans }}" name="search" />
                </div>
                <div class="center-align">
                    {% if thor.options.PROJECT_URL is defined and thor.options.PROJECT_URL.value %}
                        <a href="{{ thor.options.PROJECT_URL.value }}" class="btn btn-large">{{ 'header.sidebar.left.go_to_website'|trans }}</a>
                    {% else %}
                        <a href="/" class="btn btn-large">{{ 'header.sidebar.left.go_to_website'|trans }}</a>
                    {% endif %}
                </div>

                <article>
                    <h3 class="center-align">TODO LIST</h3>
                    <ul>
                        {% if thor.options.PROJECT_NAME is not defined or thor.options.PROJECT_NAME.value == "Thor"  %}
                            <li> - {{ 'header.sidebar.left.todo.change_site_name'|trans }}</li>
                        {% endif %}
                        {% if thor.options.PROJECT_LOGO is not defined or not thor.options.PROJECT_LOGO.value %}
                            <li> - {{ 'header.sidebar.left.todo.add_logo'|trans }}</li>
                        {% endif %}
                        {% if
                            (thor.options.FACEBOOK_PAGE_URL is not defined or not thor.options.FACEBOOK_PAGE_URL.value) and
                            (thor.options.TWITTER_PAGE_URL is not defined or not thor.options.TWITTER_PAGE_URL.value) and
                            (thor.options.GOOGLE_PAGE_URL is not defined or not thor.options.GOOGLE_PAGE_URL.value)

                        %}
                            <li> - {{ 'header.sidebar.left.todo.config_rs'|trans }}</li>
                        {% endif %}
                        {% if thor.options.GOOGLE_GA_JSON is not defined or not thor.options.GOOGLE_GA_JSON.value %}
                            <li> - {{ 'header.sidebar.left.todo.config_ga'|trans|raw }}</li>
                        {% endif %}
                    </ul>
                </article>
                {% if
                    (thor.options.FACEBOOK_PAGE_URL is defined and thor.options.FACEBOOK_PAGE_URL.value) or
                    (thor.options.TWITTER_PAGE_URL is defined and thor.options.TWITTER_PAGE_URL.value) or
                    (thor.options.GOOGLE_PAGE_URL is defined and thor.options.GOOGLE_PAGE_URL.value)

                %}
                    <div class="social">
                        <div class="h3 center-align title-social">{{ 'header.sidebar.left.title_rs'|trans }}</div>
                        <div class="bar-social">
                            <ul class="center-align">
                                {% if thor.options.FACEBOOK_PAGE_URL is defined and thor.options.FACEBOOK_PAGE_URL.value %}
                                    <li><a href="{{ thor.options.FACEBOOK_PAGE_URL.value }}" target="_blank"><i class="ion-social-facebook-outline"></i></a></li>
                                {% endif %}
                                {% if thor.options.TWITTER_PAGE_URL is defined and thor.options.TWITTER_PAGE_URL.value %}
                                    <li><a href="{{ thor.options.TWITTER_PAGE_URL.value }}" target="_blank"><i class="ion-social-twitter-outline"></i></a></li>

                                {% endif %}
                                {% if thor.options.GOOGLE_PAGE_URL is defined and thor.options.GOOGLE_PAGE_URL.value %}
                                    <li><a href="{{ thor.options.GOOGLE_PAGE_URL.value }}" target="_blank"><i class="ion-social-googleplus-outline"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <footer>
                    <div class="footer-copyright">
                        <a href="http://www.octopouce.mu" target="_blank">
                            <img src="{{ asset('bundles/octopouceadmin/build/images/logo-octopouce.svg') }}" alt="Logo Octopouce" height="50">
                        </a>
                            <a href="http://www.octopouce.mu" target="_blank">© 2018 Octopouce</a>
                    </div>
                </footer>
            </div>
            <div class="bar center-align">
                <div class="icon-nav">
                    <a href="javascript:void(0)" class="hamburger">
                        <span></span>
                    </a>
                </div>
                {% block sidebar_left_nav %}
                    <ul>
                        {% if thor.dashboard.enabled %}
                            <li class="current">
                                {% block dashboard_sidebar_left_nav %}
                                    <a href="{{ path('octopouce_admin_dashboard_index') }}">
                                        {{ 'header.sidebar.left.nav.dashboard'|trans|raw }}
                                    </a>
                                {% endblock %}
                            </li>
                        {% endif %}

                        {% block custom_sidebar_left_nav %}
                        {% endblock %}

                        {% if 'octopouce_cms_admin_page_index'|routeExist and is_granted('ROLE_CMS') %}
                            <li>
                                <a href="{{ path('octopouce_cms_admin_page_index') }}">
                                    {{ 'header.sidebar.left.nav.cms'|trans|raw }}
                                </a>
                                <ul>
                                    <li>
                                        {% block cms_sidebar_left_nav %}
                                            <a href="{{ path('octopouce_cms_admin_page_index') }}">Page</a>
                                        {% endblock %}
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if 'octopouce_blog_admin_post_index'|routeExist and is_granted('ROLE_BLOG') %}
                            <li>
                                <a href="{{ path('octopouce_blog_admin_post_index') }}">
                                    {{ 'header.sidebar.left.nav.post'|trans|raw }}
                                </a>
                                <ul>
                                    <li>
                                        {% block blog_sidebar_left_nav %}
                                            <a href="{{ path('octopouce_blog_admin_post_index') }}">Posts</a>
                                            <a href="{{ path('octopouce_blog_admin_category_index') }}">Categories</a>
                                            <a href="{{ path('octopouce_blog_admin_tag_index') }}">Tag</a>
                                        {% endblock %}
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                {% block user_sidebar_left_nav %}
                                    <a href="{{ path('octopouce_admin_user_index') }}">
                                        {{ 'header.sidebar.left.nav.users'|trans|raw }}
                                    </a>
                                {% endblock %}
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    {{ 'header.sidebar.left.nav.rs'|trans|raw }}
                                </a>
                                <ul>
                                    <li>
                                        {% block rs_sidebar_left_nav %}
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'facebook'}) }}">Facebook</a>
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'twitter'}) }}">Twitter</a>
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'google'}) }}">Google</a>
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'youtube'}) }}">Youtube</a>
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'instagram'}) }}">Instagram</a>
                                        {% endblock %}
                                    </li>
                                </ul>
                            </li>
                        {% endif %}


                        {#<li>#}
                            {#<a href="{{ path('octopouce_cms_admin_page_index') }}">#}
                                {#{{ 'header.sidebar.left.nav.language'|trans|raw }}#}
                            {#</a>#}
                        {#</li>#}
                        {% if 'octopouce_advertising_admin_dashboard_index'|routeExist and is_granted('ROLE_ADVERT') %}
                            <li>
                                <a href="{{ path('octopouce_advertising_admin_dashboard_index') }}">
                                    {{ 'header.sidebar.left.nav.advertising'|trans|raw }}
                                </a>
                                <ul>
                                    <li>
                                        {% block advertising_sidebar_left_nav %}
                                            <a href="{{ path('octopouce_advertising_admin_dashboard_index') }}">Dashboard</a>
                                            <a href="{{ path('octopouce_advertising_admin_campaign_index') }}">Campaigns</a>
                                            <a href="{{ path('octopouce_advertising_admin_adzone_index') }}">Adzones</a>
                                            <a href="{{ path('octopouce_advertising_admin_page_index') }}">Pages</a>
                                        {% endblock %}
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('octopouce_admin_option_index') }}">
                                    {{ 'header.sidebar.left.nav.options'|trans|raw }}
                                </a>
                                <ul>
                                    <li>
                                        {% block option_sidebar_left_nav %}
                                            <a href="{{ path('octopouce_admin_option_index') }}">Général</a>
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'company'}) }}">Company</a>
                                            <a href="{{ path('octopouce_admin_option_index', {'category':'mail'}) }}">Mail</a>
                                        {% endblock %}
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}

            </div>
        </header>
    {% endblock %}

    <div class="main">
        {% block top_nav %}
            <div class="dashboard-filter fixed " id="zone_dock">
                <div class="left">
                    <div class="icon-nav">
                        <a href="javascript:void(0)" class="hamburger">
                            <span></span>
                        </a>
                    </div>
                    <div class="logo main-gradient">
                        {% if thor.options.PROJECT_LOGO is defined and thor.options.PROJECT_LOGO.value %}
                            <img src="{{ asset('uploads/' ~ thor.options.PROJECT_LOGO.value) }}" alt="Logo" height="50">
                        {% else %}
                            <img src="{{ asset('bundles/octopouceadmin/build/images/logo-octopouce.svg') }}" alt="Logo Octopouce" height="50">
                        {% endif %}
                    </div>
                    <div class="filter-section">
                        <span>DASHBOARD<br>
                            {% if thor.options.PROJECT_NAME is defined and thor.options.PROJECT_NAME.value %}
                                {{thor.options.PROJECT_NAME.value}}
                            {% else %}
                                Thor
                            {% endif %}
                        </span>
                    </div>
                    <div class="icon-nav rightIcon">
                        <a href="javascript:void(0)" class="hamburger-menu">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li class="profile">{{ 'dashboard.connected_by'|trans({}, 'admin') }} <br>{{ app.user.username }} <i class="far fa-user"></i></li>
                        <li class="logout"><a href="{{ path('octopouce_admin_logout') }}"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>

        {% endblock %}
        {% block main %}{% endblock %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/octopouceadmin/build/js/admin.js') }}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <script src="{{ asset('bundles/octopouceadmin/vendor/jquery.collection.js') }}"></script>
    <script src="{{ asset('bundles/octopouceadmin/vendor/colorpicker/js/bootstrap-colorpicker.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

{% endblock %}
