{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/octopouceadmin/css/login.css') }}">
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form class="form-signin" action="{{ path('octopouce_admin_login_admin') }}" method="post">
        <div class="center mb-4">
            {% if thor.options.PROJECT_LOGO is defined and thor.options.PROJECT_LOGO.value %}
                <img class="mb-4" src="{{ asset('uploads/' ~ thor.options.PROJECT_LOGO.value) }}" alt="Logo" height="72">
            {% else %}
                <img class="mb-4" src="{{ asset('bundles/octopouceadmin/images/logo-octopouce.svg') }}" alt="Logo Octopouce" height="72">
            {% endif %}
            <h3 class="h3 mb-3 font-weight-normal">{{ 'title.login'|trans({}, 'security') }}</h3>
        </div>

        <div class="form-label-group input-field">
            <input type="text" id="username" class="form-control" name="_username"  required autofocus value="{{ lastUsername }}">
            <label for="username">{{ 'label.username'|trans({}, 'security') }}</label>
        </div>

        <div class="form-label-group input-field">
            <input type="password" id="password" name="_password" class="form-control" required>
            <label for="password">{{ 'label.password'|trans({}, 'security') }}</label>
        </div>

        <div class="checkbox mb-3">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" />
                <span>{{ 'label.remember'|trans({}, 'security') }}</span>
            </label>
        </div>
        <br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'action.sign_in'|trans({}, 'security') }}</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{% endblock %}
