{% extends 'base.html.twig' %}

{% form_theme form '@OctopouceAdmin/Form/fields.html.twig' %}

{% trans_default_domain 'security' %}

{% block body_id 'login' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/octopouceadmin/build/css/login.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(form, {'action':path('security_password_resetting'), 'attr':{'class':'form-signin'}}) }}
    <div class="center mb-4">
        {% if thor.options.PROJECT_LOGO is defined and thor.options.PROJECT_LOGO.value %}
            <img class="mb-4" src="{{ asset('uploads/' ~ thor.options.PROJECT_LOGO.value) }}" alt="Logo" height="72">
        {% else %}
            <img class="mb-4" src="{{ asset('bundles/octopouceadmin/build/images/logo-octopouce.svg') }}" alt="Logo Octopouce" height="72">
        {% endif %}
        <h3 class="h3 mb-3 font-weight-normal">{{ 'forgot_password.title' | trans }}</h3>
    </div>

    <div class="form-label-group input-field">
        {{ form_widget(form.email) }}
        {{ form_label(form.email) }}
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'forgot_password.button' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{% endblock %}
