{% extends '@OctopouceAdmin/layout.html.twig' %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Add / Edit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="box">
                    <div class="content">

                        {{ form_start(form) }}
                        {% for key, children in form.children %}
                            {% if key == 'translations' %}
                                <div class="row">
                                    <div class="col s12">
                                        <ul class="tabs transparent">
                                            {% for locale, translation in children %}
                                                <li class="tab col s3"><a {% if loop.first %}class="active"{% endif %} href="#locale-{{ locale }}">{{ locale }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% for locale, translation in children %}
                                            <div id="locale-{{ locale }}">
                                                {{ form_widget(translation) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {{ form_row(children) }}
                            {% endif %}
                        {% endfor %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

