{% extends '@OctopouceAdmin/layout.html.twig' %}

{% form_theme form '@OctopouceAdmin/Form/layout.html.twig' %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Add / Edit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="box">
                    <div class="content">

                        {{ form_start(form) }}
                        {% if form.translations is defined %}
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs transparent">
                                        {% for locale, translation in form.translations.children %}
                                            <li class="tab col s3"><a {% if loop.first %}class="active"{% endif %} href="#locale-{{ locale }}">{{ locale }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% for locale, translation in form.translations.children %}
                                        <div id="locale-{{ locale }}">
                                            {{ form_widget(translation) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

