{% extends '@OctopouceAdmin/layout.html.twig' %}

{% if fieldsHide is not defined %}
    {% set fieldsHide = ['reordered'] %}
{% else %}
    {% set fieldsHide = fieldsHide|merge(['reordered']) %}
{% endif %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="box">
                    <div class="content">
                        {% if app.request.get('_route')|replace({'index':'new'})|routeExist %}
                            <p>
                                <a href="{{ path(app.request.get('_route')|replace({'index':'new'})) }}" class="waves-effect waves-light btn green"><i class="fas fa-plus"></i> Create</a>
                            </p>
                        {% endif %}
                        {% if entities %}
                            <table>
                                <thead>
                                    <tr>
                                        {% for key, val in entities.0|cast_to_array if key not in fieldsHide %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                        {% if entities.0.translate is defined %}
                                            {% for key, val in entities.0.translate|cast_to_array if key not in fieldsHide %}
                                                {% if key != 'id' %}
                                                    <th>{{ key }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if app.request.get('_route')|replace({'index':'edit'})|routeExist or app.request.get('_route')|replace({'index':'delete'})|routeExist %}
                                            <th width="300">Actions</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            {% for key, val in entity|cast_to_array if key not in fieldsHide %}
                                                <td>
                                                    {% if val is iterable %}
                                                        {% for v in val %}
                                                            <span class="chip blue">{{ v }}</span>
                                                        {% endfor %}
                                                    {% elseif val.timestamp is defined %}
                                                        {{ val|date('d/m/Y') }}
                                                    {% else %}
                                                        {{ val|raw }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                            {% if entity.translate is defined %}
                                                {% for key, val in entity.translate|cast_to_array if key not in fieldsHide %}
                                                    {% if key != 'id' %}
                                                        <td>
                                                            {% if val is iterable %}
                                                                {% for v in val %}
                                                                    <span class="chip blue">{{ v }}</span>
                                                                {% endfor %}
                                                            {% elseif val.timestamp is defined %}
                                                                {{ val|date('d/m/Y') }}
                                                            {% else %}
                                                                {{ val|raw }}
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <td class="center-align">
                                                {% if app.request.get('_route')|replace({'index':'show'})|routeExist %}
                                                    <a href="{{ path(app.request.get('_route')|replace({'index':'show'}), {'id': entity.id}) }}" class="waves-effect waves-light btn blue"><i class="fas fa-eye"></i></a>
                                                {% endif %}
                                                {% if app.request.get('_route')|replace({'index':'edit'})|routeExist %}
                                                    <a href="{{ path(app.request.get('_route')|replace({'index':'edit'}), {'id': entity.id}) }}" class="waves-effect waves-light btn orange"><i class="fas fa-pencil-alt"></i></a>
                                                {% endif %}
                                                {% if app.request.get('_route')|replace({'index':'delete'})|routeExist %}
                                                    <a href="{{ path(app.request.get('_route')|replace({'index':'delete'}), {'id': entity.id}) }}" class="waves-effect waves-light btn red"><i class="fas fa-times"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            Pas de contenu.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}