{% extends '@OctopouceAdmin/layout.html.twig' %}

{% if fieldsHide is not defined %}
    {% set fieldsHide = ['reordered'] %}
{% else %}
    {% set fieldsHide = fieldsHide|merge(['reordered']) %}
{% endif %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="box">
                    <div class="content">
                        {% if app.request.get('_route')|replace({'index':'new'})|routeExist and (add is not defined or add) %}
                            <p>
                                <a href="{{ path(app.request.get('_route')|replace({'index':'new'})) }}" class="waves-effect waves-light btn green"><i class="fas fa-plus"></i> Create</a>
                            </p>
                        {% endif %}
                        {% if entities %}
                            <table>
                                <thead>
                                <tr>
                                    {% if entities.0.sort is defined %}
                                        <th></th>
                                    {% endif %}
                                    {% for key, val in entities.0|cast_to_array if key not in fieldsHide and key != 'sort' %}
                                        <th>{{ key }}</th>
                                    {% endfor %}
                                    {% if entities.0.translate is defined %}
                                        {% for key, val in entities.0.translate|cast_to_array if key not in fieldsHide and key != 'sort' %}
                                            {% if key != 'id' %}
                                                <th>{{ key }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if app.request.get('_route')|replace({'index':'edit'})|routeExist or app.request.get('_route')|replace({'index':'delete'})|routeExist %}
                                        <th width="300">Actions</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        {% if entity.sort is defined %}
                                            <td><span class="waves-effect waves-light btn transparent draggable" data-id="{{ entity.id }}" data-position="{{ entity.sort }}" data-new-position="" ><i class="fas fa-sort"></i></span></td>
                                        {% endif %}
                                        {% for key, val in entity|cast_to_array if key not in fieldsHide and key != 'sort' %}
                                            <td>
                                                {% if val is iterable %}
                                                    {% for v in val %}
                                                        <span class="chip blue">{{ v }}</span>
                                                    {% endfor %}
                                                {% elseif val.timestamp is defined %}
                                                    {{ val|date('d/m/Y') }}
                                                {% elseif val is same as(true) or val is same as(false) and key != 'id' %}
                                                    {% if val %}<i class="fas fa-check green-text"></i>{% else %}<i class="fas fa-times red-text"></i>{% endif %}
                                                {% else %}
                                                    {{ val|raw }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        {% if entity.translate is defined %}
                                            {% for key, val in entity.translate|cast_to_array if key not in fieldsHide and key != 'sort' %}
                                                {% if key != 'id' %}
                                                    <td>
                                                        {% if val is iterable %}
                                                            {% for v in val %}
                                                                <span class="chip blue">{{ v }}</span>
                                                            {% endfor %}
                                                        {% elseif val.timestamp is defined %}
                                                            {{ val|date('d/m/Y') }}
                                                        {% elseif val is same as(true) or val is same as(false) and key == 'featured' %}
                                                            {% if val %}<i class="fas fa-star" data-id="{{ entity.id }}" data-featured="{{ entity.featured }}"></i>{% else %}<i class="far fa-star" data-id="{{ entity.id }}" data-featured="{{ entity.featured }}"></i>{% endif %}
                                                        {% elseif val is same as(true) or val is same as(false) and key != 'id' %}
                                                            {% if val %}<i class="fas fa-check green-text"></i>{% else %}<i class="fas fa-times red-text"></i>{% endif %}
                                                        {% else %}
                                                            {{ val|raw }}
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <td class="center-align">
                                            {% if app.request.get('_route')|replace({'index':'show'})|routeExist and (show is not defined or show) %}
                                                <a href="{{ path(app.request.get('_route')|replace({'index':'show'}), {'id': entity.id}) }}" class="waves-effect waves-light btn blue"><i class="fas fa-eye"></i></a>
                                            {% endif %}
                                            {% if app.request.get('_route')|replace({'index':'edit'})|routeExist and (edit is not defined or edit) %}
                                                <a href="{{ path(app.request.get('_route')|replace({'index':'edit'}), {'id': entity.id}) }}" class="waves-effect waves-light btn orange"><i class="fas fa-pencil-alt"></i></a>
                                            {% endif %}
                                            {% if app.request.get('_route')|replace({'index':'delete'})|routeExist and (delete is not defined or delete) %}
                                                <a href="{{ path(app.request.get('_route')|replace({'index':'delete'}), {'id': entity.id}) }}" class="waves-effect waves-light btn red"  onclick="if (!confirm('Are you sure?')) { return false }"><i class="fas fa-times"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            Pas de contenu.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if entities and entities.0.sort is defined %}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script>
            $(document).ready(function () {
                var dataPositionList = {};
                $('tbody .draggable').each(function (index) {
                    dataPositionList[index] = { 'id' : $(this).data("id"), 'position': $(this).data("position") };
                });
                var fixHelperModified = function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index)
                    {
                        $(this).width($originals.eq(index).width())
                    });
                    return $helper;
                };
                $('tbody').sortable({
                    helper: fixHelperModified,
                    handle: ".draggable",
                    placeholder: "ui-state-highlight",
                    axis: 'y',
                    container: 'tbody',
                    update: function( event, ui ) {
                        $.map($('tbody').find('.draggable'), function(el, index) {
                            dataPositionList[index]['id'] = $(el).attr('data-id');
                            dataPositionList[index]['position'] = index;
                        });
                        $.ajax({
                            data: {data: dataPositionList, class:'{{ entities.0|getClass}}'},
                            type: 'POST',
                            url: Routing.generate('octopouce_admin_admin_sortable_drag'),
                            success: function (data) {
                            },
                        });
                    }
                });
            });
        </script>
    {% endif %}
    {% if entities and entities.0.featured is defined %}
        <script>
            $('.fa-star').on('click', function() {
                var id = $(this).data('id');
                var featured = $(this).data('featured');

                $.ajax({
                    data: {id: id, featured: featured, class:'{{ entities.0|getClass}}'},
                    type: 'POST',
                    url: Routing.generate('octopouce_admin_admin_featured_action'),
                    success: function (data) {
                    },
                });
            });
        </script>
    {% endif %}
{% endblock %}